<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ServletConfigContext</display-name>

 <servlet>
    <servlet-name>abc</servlet-name>
    <servlet-class>com.learn.TutServletConfig</servlet-class>
    <init-param>
      <param-name>userEmail</param-name>
      <param-value>jatinrane2</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>abc</servlet-name>
    <url-pattern>/config</url-pattern>
  </servlet-mapping>
  
  
  <context-param>
  	<param-name>name</param-name>
  	<param-value>Jatin rane</param-value>
  </context-param>
  <context-param>
  	<param-name>email</param-name>
  	<param-value>jatinrane23@gmail.com</param-value>
  </context-param>
</web-app>